@import "../../assets/styles/mixins";

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem;
  font-weight: 600;

  background-color: var(--white-color);
  box-shadow: var(--nav-shadow);

  height: var(--nav-height);
}

.logo {
  font-family: "Mazzard L", serif;
  font-size: 2rem;
}

.link {
  font-size: 18px;
  padding: var(--gap-8);
  @include media('sm'){
    padding: var(--gap-4);
  }
  transition: color .5s ease-in-out;
}
.link:active,
.link:focus {
  color: var(--secondary-text-color);
}

.link:hover {
  color: var(--disabled-or-inputs-text-color);
}

.pages {
  display: flex;
  gap: 1em;
  @include media('sm'){
    gap: .5em;
  }
  @include media('xs'){
    gap: .25em;
  }
}
