@import "../../assets/styles/mixins";

.cbt-form {
  max-width: 600px;
  margin: 0 auto;
  label {
    font-weight: 600;
  }
}

.input-group {
  margin-bottom: 2rem;
}

.distortion {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include media('sm'){
      grid-template-columns: 1fr;
    }
  }
  &-description {
    // background-color: black;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
  &-group {
    &:not(:last-child){
      margin-bottom: var(--gap-8);
    }
  }
  &-check {
    display: flex;
    align-items: center;
    gap: var(--gap-8);

    label {
      margin-bottom: 0;
    }
  }
}

