.post {
    background: var(--white-color);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    width: 100%;

    &-text{
        padding: 1em;
        &__title {

        }
        &__para {

        }
    }
}
