.post {
  background: var(--white-color);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  padding: 1.5em;

  //   &-image {
  //     object-fit: cover;
  //     img {
  //       width: 100%;
  //       height: auto;
  //     }
  //   }

  &-actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-12);
    margin-top: var(--gap-32);
  }

  &-text {
    &__title {
    }
    &__para {
    }
  }
}
