.post {
  background: var(--white-color);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  //   &-image {
  //     object-fit: cover;
  //     img {
  //       width: 100%;
  //       height: auto;
  //     }
  //   }

  &-text {
    padding: 1em;
    &__title {
    }
    &__para {
    }
  }
}
