@import "../../assets/styles/mixins";

.features {
    padding: 3rem 0;
    display: flex;
    gap: var(--gap-60);
    @include media('sm'){
        flex-direction: column;
        gap: var(--gap-32);
    }
}

.description {
    display: flex;
    flex-direction: column;
    min-width: 35%;
    @include media('sm'){
        align-items: center;
    }
    &__title {
        @include media('sm'){
            text-align: center;
        }
    }
    &__subtitle{
        color: var(--secondary-text-color);
        @include media('sm'){
            text-align: center;
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2em;
    .item {
        display: flex;
        gap: 1em;
        @include media('sm'){
            flex-direction: column;
        }

        &-heading {
            @include media('sm'){
                background-color: var(--bg-green-light);
                border-top-left-radius: 3rem;
                border-bottom-left-radius: 3rem;
            }
            &-number {
                display: flex;
                align-items: center;
                &__numbox{
                    padding: 0.25rem 1rem;
                    color: var(--white-color);
                    background-color: var(--bg-green-accent);
                    border-radius: 3rem;
                }
                &__title{
                    display: none;
                    margin-bottom: 0;
                    margin-left: .5em;
                    @include media('sm'){
                        display: inline-block;
                        font-size: 20px;
                    }
                }
            }
        }
        &-content {
            &__title{
                @include media('sm'){
                    display: none;
                }
            }
            &__para {
                color: var(--secondary-text-color);
            }
        }
    }
}