@import "../../assets/styles/mixins";

.features {
    padding: 3rem 0;
    display: flex;
    gap: var(--gap-60);
}

.description {
    &__title {
    }
    &__subtitle{
        margin-top: 2em;
        color: var(--secondary-text-color);
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2em;
    .item {
        display: flex;
        gap: 1em;

        &-heading {
            &-number {
                display: flex;
                align-items: center;
                &__numbox{
                    padding: 0.25rem 1rem;
                    color: var(--white-color);
                    background-color: var(--bg-green);
                    border-radius: 3rem;
                }
                &__title{
                    display: none;
                    @include media('sm'){
                        display: inline-block;
                    }
                }
            }
        }
        &-content {
            &__title{

            }
            &__para {
                color: var(--secondary-text-color);
            }
        }
    }
}