*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // по-умолчанию наследуем border-box для всех элементов, но можем изменить для конкретного элемента
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box; // указываем здесь чтобы могли перезаписать для отдельных элементов
}

body {
  font-family: 'Hauora', sans-serif;
  color: var(--black-p-color);
  background-color: var(--body-bg-color);
  font-size: 16px;
  // font-weight: 400;
  // line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}


a {
  transition: color 0.3s ease-in-out;
  text-decoration-skip-ink: none;
  color: inherit;
  text-decoration: none;
}
a:active,
a:focus {
  color: inherit;
}
a:hover {
  transition: none;
}

b {
  font-weight: 600;
}

button {
  cursor: pointer;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

label {
  cursor: pointer;
}

h1,
.h1 {
  font-size: 64px;
  margin-bottom: 0.5em;
  font-family: 'Mazzard L', sans-serif;
  line-height: 0.8125;
}

h2,
.h2 {
  font-size: 48px;
  font-family: 'Mazzard L', sans-serif;
  line-height: 0.917;
  margin-bottom: 28px;
}

h3,
.h3 {
  font-size: 36px;
  line-height: 1;
  font-family: 'Mazzard L', sans-serif;
  margin-bottom: 16px;
}

h4,
.h4 {
  font-size: 28px;
  line-height: 0.857;
  font-family: 'Mazzard L', sans-serif;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.25;
}

@include media('md') {
  p {
    line-height: 1.667;
  }

  h1,
  .h1 {
    font-size: 40px;
    line-height: 0.8;
    margin-bottom: 16px;
  }

  h2,
  .h2 {
    font-size: 32px;
    line-height: 0.9375;
    margin-bottom: 16px;
  }

  h3,
  .h3 {
    font-size: 28px;
  }

  h4,
  .h4 {
    font-size: 20px;
    line-height: 1;
  }
}