.wrapper {
  width: 100%;
  max-width: 1264px;
  padding: 0 var(--gap-40);
  margin-top: var(--nav-height);
  margin-left: auto;
  margin-right: auto;

  @include media("sm") {
    max-width:680px;
    padding: 0 var(--gap-32);
  }

}

.subheader {
  border-bottom: 2px dashed #2a2e35;
}

.error-message {
  color: var(--attention-error);
  font-size: 12px;
  line-height: 1.33;
}

.nowrap {
  white-space: nowrap;
}

.cutted-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.upp {
  text-transform: uppercase;
}

.scroll-lock {
  overflow: hidden;
  height: 100vh;
}

@include media("md") {
  .hide-for-md {
    display: none;
  }
}

@include media("sm") {
  .hide-for-sm {
    display: none;
  }
}
