:root {
  /* Общие интерфейсные цвета */
  --black-p-color: #333333;
  --black-color: #1d2025;
  --black-color-rgb: 29, 32, 37;

  --white-color: #FFFFFF;
  --white-color-rgb: 255, 255, 255;

  --gray-color: #d5d8de;
  --gray-color-rgb: 213, 216, 222;

  --light-gray-color: #edf1f7;
  --light-gray-color-rgb: 237, 241, 247;

  --extra-light-gray-color: #f7f9fc;
  --extra-light-gray-color-rgb: 247, 249, 252;

  --body-bg-color: #f7f7f7;
  --body-bg-color-rgb: 247, 247, 247;

  /* Текстовые цвета */
  --secondary-text-color: #737684; /* #151B34 (60%) - original */
  --secondary-text-color-rgb: 115, 118, 132;
  --secondary-text-color-rgba: 21, 27, 52, 0.6; /* - original */

  --secondary-onlight-text-color: #fcfdfe; /* #F7F9FC (35%) - original */
  --secondary-onlight-text-color-rgb: 252, 253, 254;
  --secondary-onlight-text-color-rgba: 247, 249, 252, 0.35; /* - original */

  --disabled-or-inputs-text-color: #a6a8b2; /* #151B34 (38%) - original */
  --disabled-or-inputs-text-color-rgb: 166, 168, 178;
  --disabled-or-inputs-text-color-rgba: 21, 27, 52, 0.38; /* - original */

      /* Переменные переходов */
  --t-time: 0.3s;
  --transition: all var(--t-time) ease;

  /* Тень для фокуса */
  --focus-shadow: 0 0 0 16px rgba(0, 0, 0, 0.1);

      /* Переменные радиусов */
  --btn-radius: 16px;
  --block-radius: 24px;

  @include media('md') {
    --block-radius: 20px;
  }
      /* Переменные отступов */
    --gap-4: 4px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-20: 20px;
    --gap-24: 24px;
    --gap-32: 32px;
    --gap-40: 40px;
    --gap-60: 60px;
    --gap-64: 64px;
    --gap-80: 80px;
}